t.svelte-chart-container  {
	max-width: 1000px;
	margin: 1.5rem auto 0;
	color: #333;
	font-family: "akkurat", -apple-system, sans-serif;
	position:relative;
}

.svelte-chart-container *+* {
	margin: 0 auto 1rem;
	position:relative;
}

.svelte-chart-container .tick text {
	color: #333;
	font-family: "akkurat", -apple-system, sans-serif;
}

body.dev-index {
	margin:0;
	padding:0;
}

body.dev-index footer {
	display: block;
	background-color: black;
	height:400px;
}

/* TODO: Missing media query for large viewport */
   @media only screen and (min-width: 1008px) {
	   :root {
		   --nu-map-button-icon--size: 36px;
		   --nu-map-navigation--width: var(--nu-map-location-info--width);
	   }
	   .nu-map-location-info {
		   border-radius: 0 0 0 var(--global--border-radius-regular);
		   right: 0;
		   top: calc(var(--global--spacing-medium) + var(--nu-map-button-icon--size));
	   }
	   .nu-map-location-info__toggle {
		   display: none;
	   }
	   .nu-map-location-title {
		   padding: 0 var(--global--spacing-medium);
		   text-align: center;
	   }
   }
